/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../font/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../font/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../font/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}




nav.top-nav {    
    height: 122px;
}

nav.top-nav a.page-title {
    font-size: 48px;
    line-height: 122px;
}


.parallax-container {
  height: 500px;
}

.titleSuffix {
	font-weight: 200;
}
	
.titleParallax {
    font-weight: 300;
}

.card-reveal ul li {
    font-style: italic;
}

body {
    background-color: #dddddd;
}


#media{
    display:none;
}
        

.gaImageBox {
	float:left;
	margin-right:5px;
    margin-bottom:5px;
}


.gaImage {
	height:200px;
    border-radius: 2px;
}

.gaPreloadBox {
	position:relative; 
	top:0px; 
	left:0px;
}

.gaCentered {
    position: absolute;
    top: 50%;
    left: 50%;  
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}


#gaImageContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}
